<div class="page-header">
<h1>About us</h1>
</div>
<p>We are very excited to be working on the One Month Rails Pinteresting app! We are a group of Ayurvedic practitioners who are going to use it to connect Ayurvedic chefs with each other to gain seasonal inspiration in the kitchen. Learn a little more about us by selecting a practitioner below. </p>

<!-- Split button -->
<div class="btn-group">
  <button type="button" class="btn btn-success">Practitioners</button>
  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Lisa / Shubha</a></li>
    <li><a href="#">Britt / Mahi</a></li>
    <li><a href="#">Geetanjali / Shaaranya</a></li>
  </ul>
</div>