<div class="jumbotron">
	<h1>  Welcome! Jai Ma! </h1>
	<p> This is the first Ayurvedic pinteresting app </p>
	<p>Click here to <%= link_to "Sign up", "#", class: "btn btn-primary btn-lrg" %>.</p>
</div>